<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">

<listeners>
	<listener class-name="academy.Listeners"/>
</listeners> 


  <test thread-count="5" name="Validating Home Elements">
    <classes>
      <class name="academy.validateHomeElements"/>
    </classes>      
  </test>

  <test thread-count="5" name="Homepage">
    <classes>
      <class name="academy.HomePage"/>
    </classes>      
  </test>

 <test thread-count="5" name="Forgot Password">
    <classes>
      <class name="academy.validateForgotPassword"/>
    </classes>      
  </test>

</suite> <!-- Suite -->
